 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

 :root{
  --primaryColor:#9400ff;
  --radus: 3px;
}

 body{
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--primaryColor);
 }

 main{
  width: 90%;
  max-width: 400px;
  height: 210px;
  background-color: white;
  border-radius: var(--radus);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  overflow: hidden;
  transition: .2s;
 }
 .show{
  height: 480px;
 }

 input{
  padding: 10px;
  font-size: 20px;
  border: 2px solid var(--primaryColor);
  border-radius: var(--radus);
 }

 button{
  padding: 10px;
  font-size: 20px;
  background-color: var(--primaryColor);
  border: none;
  border-radius: var(--radus);
  color: white;
  font-weight: bold;
 }

 .qrbox{
  text-align: center;
  padding: 10px;
  border-radius: var(--radus);
  border: 2px solid var(--primaryColor);
 }
 .text{
	margin-top: 10px;
	color: #7E30E1;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
	font-family: sans-serif;
	font-style: oblique;
}